@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bred: #780000;
  --bdred: #530000;
}
.cred{color: var(--bred)}
.bgred{background-color: var(--bred)}
h1, h2, h3, h4, h5, h6 {
  letter-spacing: -.05em;
  -webkit-font-smoothing: antialiased;
}
html {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 0.95rem;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", Helvetica, sans-serif;
}
#ftop + section {
  margin-top: 134.75px;
}
@media (max-width: 991.9px) {
  #ftop + section {
    margin-top: 103.68px;
  }
}
.navbar-toggler {
  border: 0;
}
.navbar-toggler:focus {
  box-shadow: unset;
  outline: 0;
  text-decoration: none;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.active {
  color: var(--bred);
}
.menucall {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
  border-radius: 100%;
  color: #FFF;
  font-size: 1rem;
  position: relative;
  text-align: center;
  width: 2.7em;
  height: 2.7em;
}
#call-section{
  /*background-image: url("https://glimageurl.golocall.com/gl-banner/222219_banner_maibhagoafpi_self_1744170831.png");*/
  background-color: var(--bred);
  height: 576px;
}
@media (max-width: 768px) {
  .fs-5.mb-5.text-muted {
    font-size: 16px !important;
  }
}
.custom-svg-fill-color-tertiary-darken {
  fill: var(--bred) !important;
}
.shape-divider.shape-divider-top {
  background-image: url('/topdivider.svg');
  width: 100%;
  height: 102px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: absolute;
  top: 0;
}
.shape-divider.shape-divider-top + div {
  padding-top: 5rem !important;
}
.shape-divider.shape-divider-bottom {
  background-image: url('/bottomdivider.svg');
  width: 100%;
  height: 102px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  position: absolute;
  bottom: 0;
}
@media (max-width: 768px) {
  .shape-divider.shape-divider-bottom {
    height: 52px;
  }
  .shape-divider.shape-divider-top {
    height: 52px;
  }
}
.shape-divider.spacer {
  background-image: url('/spacer1.svg');
  width: 100%;
  height: 576px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.custom-form-style-1 .form-control {
  height: calc(1.8em + 1.85rem + 2px);
  padding: 0.975rem 1.25rem;
  background: #f7f7f7;
  border-color: #f7f7f7;
  line-height: 1.5 !important;
  font-size: 0.85rem;
}
.custom-form-style-1 textarea.form-control {
  height: auto;
}
.bshadow1 {
  box-shadow: 0 60px 120px -60px #BBB;
}
#footer {
  background: var(--bred);
  h4 {
    color: var(--bs-light);
    font-size: 1.2rem;
    margin-bottom: 14px;
  }
  p {
    font-size: 12.6px;
  }
  a {
    text-decoration: none;
    color: var(--bs-light);
    font-size: 12.6px;
    padding-left: 0;
  }
  li {
    /*margin-bottom: 16px;*/
  }
}

.marquee-wrapper {
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: scroll-marquee 15s linear infinite;
}
.marquee-wrapper:hover .marquee-content {
  animation-play-state: paused;
}

@keyframes scroll-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}